<html>

<head>
    <title>
        Blog
    </title>
    <link rel="icon" href="https://png.pngtree.com/svg/20160519/blog_1221711.png">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>
    <div class="ui fixed menu">
        <div class="header item"><img src="../icons/blog.png" alt="" /> Blog </div>
        <a href="/" class="item">Home</a>
        <% if(currentUser){%>
        <a href="/blogs/new" class="item">New Post</a>
        <%}%>
        <div class="right menu">
            <% if(!currentUser){%>
            <a href="/register" class="ui item">
                Register
            </a>
            <a href="/login" class="ui item">
                Login
            </a>
            <%}else{%>
            <a class="active item">
                <strong>
                    <%= currentUser.username%>
                </strong>
            </a>
            <a href="/logout" class="ui item">
                Logout
            </a>
            <%}%>
        </div>
    </div>

    <div id="message" class="ui container">
        <%if (error && error.length>0){%>
        <div class="ui negative small message">
            <div class="header">
                <%=error%>
            </div>
        </div>
        <%}%>
        <%if (success && success.length>0){%>
        <div class="ui positive small message">
            <div class="header">
                <%=success%>
            </div>
        </div>
        <%}%>
    </div>